
.vektor-images {
    font-size: 100px;
    display: flex;
    justify-content: space-around;
}

.svg-image {
    width: 350px;
    height: 350px;
}


.top-part-cicle {
    fill:#FF1A1A;
}


.top-part-ellipse {
    fill:#D60909;
}

.svg-image:hover .top-part-ellipse {
    fill:#A7BBC1;
}

.svg-image:hover .top-part-cicle {
    fill:#FFFFFF;
}

.bottom-part-cicle {
    fill:#A7BBC1;
}

.svg-image:hover .bottom-part-cicle {
    fill:#D60909;
}

.bottom-part-ellipse {
    fill:#FFFFFF
}

